<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ProjectManagerSql" connectionString="Server=MININT-PGF1701;Database=ProjectManagerDB;Trusted_Connection=True;"
    providerName="System.Date.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="filePath" value="C:\data\TournamentTracker"/>
    <add key="greaterWins" value="1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>